documentation/**

babel-preset/transform/**
generated/docs/**
generated/babel-preset-standalone.js

tests/**
tools/**

AGENTS.md
.vscode
.github
.claude
.codex

.gitignore
node_modules
tsconfig.tsbuildinfo