src/release/**

src/babel-preset/transform/**
src/babel-preset/rollup.config.js

src/babel-preset-standalone/**

tests/**
tools/**

AGENTS.md
.vscode
.github
.claude
.codex

.gitignore
node_modules
tsconfig.tsbuildinfo